@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100vh;
}

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/public/font/Inter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url("/public/font/Poppins-Medium.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
}

.loader {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid #000;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.custom-pagination {
  width: 32px !important;
  height: 4px !important;
}
.splide__pagination__page.is-active {
  background-color: #000 !important;
}
.splide__pagination {
  bottom: 8rem !important;
}
.splide__pagination__page:hover {
  background-color: #727272 !important;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.custom-pagination-product.splide__pagination__page.is-active {
  background-color: #000 !important;
  width: 35px !important;
  height: 9px !important;
  border-radius: 50px !important;
}
.splide__pagination {
  top: 24.5rem !important;
}
.custom-pagination-product.splide__pagination__page {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
